<% content_for :title_head do %>
<div id="team_head" class="image_header">
  <h1>Administration</h1>
  <ul>
    <li><%= link_to 'Go to User Administration', :controller => 'users', :action => 'index' %></li>
    <li><%= link_to 'Go to Recommendations Administration', :controller => 'recommendations', :action => 'index' %></li>
    <li><%= link_to 'Logout', :controller => 'admin', :action => 'logout' %></li>
  </ul>
</div>
<% end %>

<h1>Login</h1>

<% form_tag do %>
  <fieldset>
    <legend>Please Log In</legend>
    <p style="color: red"><%= flash[:error] %></p>
    <div>
      <label for="name">Name:</label>
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div>
      <label for="password">Password:</label>
      <%= password_field_tag :password, params[:password] %>
    </div>
    <div>
      <%= submit_tag "Login" %>
    </div>
  </fieldset>
<% end %>